<div class="center jumbotron textback row">

	<div class="col-md-10">
	<textarea id="editor">
	
	</textarea>
	<div type="button" class="btn btn-default submit"> Submit </div>
	</div>

	<div class="col-md-2">

		<h5> Whitelist </h5>

		<div id="list-container" class="container">
		<table id="whitelist" class="table table-hover">
		  <tr>
		  	<td>for loop</td>
		  </tr>
		  <tr>
		  	<td>variable declaration</td>
		  </tr>
		  <tr>
		  	<td>while loop</td>
		  </tr>
		  <tr>
		  	<td>switch statement</td>
		  </tr>
		  <tr>
		  	<td>using "this"</td>
		  </tr>
		  <tr>
		  	<td>if statement</td>
		  </tr>
		</table>
		</div>

		<h5> Blacklist </h5>
		<div id="list-container" class="container">
		<table id="blacklist" class="table table-hover">
		  <tr>
		  	<td>for loop</td>
		  </tr>
		  <tr>
		  	<td>variable declaration</td>
		  </tr>
		  <tr>
		  	<td>while loop</td>
		  </tr>
		  <tr>
		  	<td>switch statement</td>
		  </tr>
		  <tr>
		  	<td>using "this"</td>
		  </tr>
		  <tr>
		  	<td>if statement</td>
		  </tr>
		</table>
		</div>

		<div id="resetlist" type="button" class="btn btn-default submit"> Reset </div>
	</div>

</div>

<div class="center row">
	<h2 class="text-center"> -Enforce a Structure Hierarchy- </h2>
		<div id="structuremake" class="container textback">

			<hr>
			<div>
			<div class="btn-group">
			  <button type="button" class="level-select levelselect-0 btn btn-default dropdown-toggle" data-toggle="dropdown" entered="false" data-level="0" aria-haspopup="true" aria-expanded="false">Level 0<span class="caret"></span>
			  </button>
			  
			  <ul class="dropdown-menu">
			    <li><a>for</a></li>
			    <li><a>if</a></li>
			    <li><a>switch</a></li>
			    <li><a>declare var</a></li>
			    <li><a>while</a></li>
			    <li><a>using "this"</a></li>
			  </ul>
			</div>
			<h2 id="keyword-describe-0" class="text-right"> 
		</div>

		</div>
		<div id="resetstructure" type="button" class="btn btn-warning submit"> Reset Hierarchy Structure</div>
		
</div>


