 <header class="navbar navbar-fixed-top navbar-inverse thinnav">
      <div class="container">
        <%= link_to "JS Challenge Framework", root_path, id: "logo" %>
        <p id="subtitle"> Submission by Morgan Howell</p>
        <nav>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </nav>
        <%= image_tag "leaf-green.png", class: "pull-right logo" %>
      </div>
    </header>